<div class="container">
  <div>
    <div class="left-side-footer">
      <div>
        <p routerLink="/">Home</p>
        <p routerLink="/products">Products</p>
        <p routerLink="/faq">FAQ</p>
      </div>
      <span>Email us: <a class="email" href = "mailto: dressnice@com">dressnice@com</a></span>
      <p>© 2024 All Rights Reserved | Created by Michał.dev</p>
    </div>
    <div class="right-side-footer">
      <img class="img" src="assets/footer-logo.jpg">
      <div>
        <p>Georgia - Ellijay,</p>
        <p>3445 Hart Country Lane</p>
        <p>Call us: (800) 555‑0175 (7 AM - 7 PM)</p>
      </div>
    </div>
  </div>
</div>