<div class="container">
    <div class="page-nav">
      <div routerLink="/">home</div>
      <span class="material-symbols-outlined">
        arrow_right_alt
        </span>
      <span>Contact Us</span>
    </div>
    <div class="page-nav2">
      <div (click)="goBackPage()">🢀 back</div>
    </div>
    <div class="contact-box">
      <div class="left-box">
        <div class="contact-details">
          <h1>Local Shop:</h1>
          <p class="local-shop-desc">While we don't currently have a physical storefront for in-person visits, we offer the convenience of order pickups at our warehouse location, free of charge!</p>
          <h1>We're shipping from:</h1>
          <div>
            <p>Georgia - Ellijay,</p>
            <p>3445 Hart Country Lane</p>
            <p>Call us: (800) 555‑0175 (7 AM - 7 PM)</p>
          </div>
          <span>Email us: <a class="email" href = "mailto: dressnice@com">dressnice@com</a></span>
        </div>
      </div>
      <div class="right-box">
        <img class="img" src="assets/warehouse.jpg">
      </div>
    </div>
</div>
